:root {
  --1: #2a2438;
  --2: #383346;
  --3: #5c5470;
  --4: #b7afcc;
}

body {
  background: linear-gradient(to right, #b7afcc, #5c5470, #383346, #2a2438);
  font-family: monospace;
  display: grid;
  justify-content: center;
  color: #b7afcc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#reset {
  display: none;
}
p {
  font-size: 30px;
  margin: 0%;
}

.guessInformation {
  font-size: 20px;
  text-align: center;
}

.bigText {
  font-size: 40px;
  text-align: center;
}
#randomNumber {
  display: none;
}

#reset {
  font-size: 40px;
}

input {
  background-color: var(--4);
  width: 100px;
  height: 80px;
  text-align: center;
  font-size: 25px;
  border-radius: 25%;
}
button {
  background-color: var(--4);
  width: 300px;
  height: 60px;
  margin-top: 10px;
  font-size: 20px;
}
main {
  border: 5px solid black;
  padding: 5px;
  display: grid;
  justify-items: center;
}
